/* Estilo Normalizado */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --grisclaro: #ECECEC;
    --grisoscuro: #333333;
    --azulclaro: #3498DB;
    --azuloscuro: #2980B9;
    --amarillosuave: #FFD700;
    --verdeclaro: #00A896;
    --verdeoscuro: #00665E;
    --blanco: #fff;
}

/* ---------- HEADER ---------- */
header {
    min-height: 15vh;
}

#header-nav {
    background-color: var(--blanco) !important;
    min-height: 14vh;
}

.navbar {
    background-color: var(--blanco) !important;
    height: 15vh;
    width: 100%;
    position: fixed !important;
    z-index: 2 !important;
}

#navbarNav {
    justify-content: end;
    align-items: center;
    font-size: larger;
}

.container-fluid {
    /* background-color: var(--blanco); */
    background-color: var(--verdeoscuro);
}

.navbar-nav {
    /* background-color: var(--blanco); */
    background-color: var(--verdeoscuro);
    font-size: 120%;
    gap: 1rem;
    align-items: center !important;
    padding: 1rem;
    margin-bottom: .5rem;
}

.nav-item {
    padding-right: .5rem;
}

.nav-link {
    font-weight: bold !important;
    /* color: var(--grisoscuro) !important; */
    color: var(--blanco) !important;
}

.nav-link:hover {
    /* color: var(--verdeoscuro) !important; */
    color: var(--amarillosuave) !important;
}

#navContainer {
    /* background-color: var(--blanco) !important; */
    background-color: var(--verdeoscuro) !important;
}

.active {
    /* color: var(--verdeoscuro) !important; */
    color: var(--amarillosuave) !important;
}

.navbar-toggler-icon {
    filter: invert(100%);
}

.navbar-toggler {
    /* border: solid 2px rgb(180, 180, 180) !important; */
    margin-right: 1rem;
}

.icono {
    width: 8rem;
    margin-left: 1rem;
}

/* ---------- MAIN ---------- */
main {
    background-color: white;
    min-height: 80vw;
}


/* --Mision-- */
.misionContainer {
    width: 100%;
    text-align: center;
}

.misionContainer .misionIndex img {
    margin-top: 4rem;
    width: 12%;
}

.misionContainer .misionIndex h2 {
    padding: 1rem;
    color: var(--verdeoscuro);
    font-size: 2.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.misionContainer .misionIndex p {
    color: var(--grisoscuro);
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0 4rem 0;
}


/* --Banner Slider-- */

.bannerIndex {
    height: 400px;
    width: 95%;
    margin-left: 30px;

}

.bannerIndex .bslide {
    border-radius: 20px;
    height: 350px;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    box-shadow: 0px 0px 4px 2px rgba(1, 46, 10, 0.2);
}

.bannerIndex .bslide .banner-image {
    flex: 1 1 25rem;
}

.bannerIndex .bslide .banner-image img {
    width: 75%;
}

.bannerIndex .bslide .banner-content {
    padding-left: 8rem;
    flex: 1 1 30rem;
    text-align: center;
}

.bannerIndex .bslide .banner-content h3 {
    font-size: 2.5rem;
    color: var(--verdeoscuro) !important;
}

.bannerIndex .bslide .banner-content span {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: var(--grisoscuro);
    text-transform: lowercase;
}

.bannerIndex .bslide .banner-content button {
    border: none;
    border-radius: 10px;
    background-color: var(--verdeoscuro);
    padding: 10px 15px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--grisclaro);
    box-shadow: inset 0 0 0 0 #FFD700;
    transition: ease-out 0.4s;
    outline: none;
}

.bannerIndex .bslide .banner-content button:hover {
    box-shadow: inset 150px 0 0 0 #FFD700;
    cursor: pointer;
    color: var(--grisoscuro);
}


.bannerIndex .bslide {
    border-radius: 20px;
    height: 350px;
    margin-top: 2.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    box-shadow: 0px 0px 4px 2px rgba(1, 46, 10, 0.2);
}

.bannerIndex .bslide .banner-image {
    flex: 1 1 25rem;
}

.bannerIndex .bslide .banner-image img {
    width: 75%;
}

.bannerIndex .bslide .banner-content {
    padding-left: 8rem;
    flex: 1 1 30rem;
    text-align: center;
}

.bannerIndex .bslide .banner-content h3 {
    font-size: 2.5rem;
    color: var(--verdeclaro);
}

.sliderSpan {
    margin: 1rem 0;
    font-size: 1.5rem;
    color: var(--grisoscuro);
    text-transform: lowercase;
    height: 10rem !important;
}

.sliderBtn {
    border: none;
    border-radius: 10px;
    background-color: var(--verdeoscuro);
    padding: 10px 15px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--grisclaro);
    box-shadow: inset 0 0 0 0 #FFD700;
    transition: ease-out 0.4s;
    outline: none;
}

.sliderBtn:hover {
    box-shadow: inset 150px 0 0 0 #FFD700;
    cursor: pointer;
    color: var(--grisoscuro);
}


/* --Clasificacion de Residuos-- */

.categoria-container .index-categoria-title {
    text-align: center;
    margin-bottom: .5rem;
    margin-top: 3rem;
    font-size: 35px;
    font-weight: bold;
    color: var(--verdeoscuro);
}

.categoria-container .index-categoria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
}

.categoria-container .index-categoria .index-categoria-box {
    background-color: #00665E;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.index-categoria-box:hover {
    transform: scale(1.03);
}

.categoria-container .index-categoria .index-categoria-box h3 {
    font-size: 2rem;
    color: var(--grisclaro);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 8px;
    background-color: rgba(131, 145, 146, .9);
}

.categoria-container .index-categoria .index-categoria-box h3:hover {
    color: var(--amarillosuave);
}

.categoria-container .index-categoria .index-categoria-box:nth-child(1) {
    background-image: url(https://earth911.com/wp-content/uploads/2016/06/mixed-waste-mix.jpg);
}

.categoria-container .index-categoria .index-categoria-box:nth-child(2) {
    background-image: url(https://img.freepik.com/foto-gratis/pizza-vietnamita_1339-2782.jpg?size=626&ext=jpg);
}

.categoria-container .index-categoria .index-categoria-box:nth-child(3) {
    background-image: url(https://img.freepik.com/foto-gratis/variedad-frutas-verduras-saludables-monton-colorido-generado-ia_24640-93381.jpg?size=626&ext=jpg);
}

.categoria-container .index-categoria .index-categoria-box:nth-child(4) {
    background-image: url(https://img.freepik.com/foto-gratis/disposicion-diferentes-objetos-desechados_23-2148996918.jpg?size=626&ext=jpg);
}

.categoria-container .index-categoria .index-categoria-box:nth-child(5) {
    background-image: url(https://i.guim.co.uk/img/media/5f9b5ec6bac9e97acc437ec7e3e965f6a0c119cd/0_129_6720_4032/master/6720.jpg?width=620&dpr=2&s=none);
}

.categoria-container .index-categoria .index-categoria-box:nth-child(6) {
    background-image: url(https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL2dsYXNzLXJlY3ljbGluZy5qcGciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOiIxMjAwIn19fQ==);
}

.categoria-container .index-categoria .index-categoria-box:nth-child(7) {
    background-image: url(https://everydayrecycler.com/wp-content/uploads/2020/07/Depositphotos_40012335_xl-2015_optimized.jpg);
}

.categoria-container .index-categoria .index-categoria-box:nth-child(8) {
    background-image: url(https://www.netregs.org.uk/media/1496/batteries-362759357.jpg?width=800&height=533.2);
}



/* Noticias */
.title02 {
    margin-top: 3rem;
    margin-bottom: .5rem;
    font-size: 35px;
    font-weight: bold;
    color: var(--verdeoscuro);
}

.card {
    width: 16rem;
}

.card-text {
    height: 5rem;
}

.cardLink {
    text-decoration: none;
    color: var(--azuloscuro);
}

.noticiasSection {
    width: 100%;
}

.noticiasContainer {
    width: 90%;
}

.noticiasBtn {
    border: none;
    border-radius: 10px;
    background-color: var(--verdeoscuro);
    padding: 10px 15px;
    margin-top: .5rem;
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--grisclaro);
    box-shadow: inset 0 0 0 0 #FFD700;
    transition: ease-out 0.4s;
    outline: none;
    margin-bottom: 30px;
    margin-top: 20px;
}

.noticiasBtn:hover {
    box-shadow: inset 150px 0 0 0 #FFD700;
    cursor: pointer;
    color: var(--grisoscuro);
}

.card-img-1 {
    width: 16rem;
    height: 10rem;
    background-image: url(../images/noticia-1.jpg);
    background-size: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
}

.card-img-2 {
    width: 16rem;
    height: 10rem;
    background-image: url(../images/noticia-2.png);
    background-size: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
}

.card-img-3 {
    width: 16rem;
    height: 10rem;
    background-image: url(../images/noticia-3.png);
    background-size: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
}

/* ---------- FOOTER ---------- */

footer{
    position: relative;
    width: 100%;
    background: #000;
    min-height: 100px;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 115px;
}

footer .footer_logos, footer .footer_menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.footer_logos li, .footer_menu li, .footer_ty li{
    list-style: none;
}

.footer_logos li img{
    margin: 0 20px;
    width: 45px;
    display: inline-block;
    transition: 0.5s;
}

.footer_logos li img:hover{
    transform: translateY(-10px);
}

.footer_menu li a{
    font-size: 1.1rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
}

.footer_menu li a:hover{
    color:#00A896;
    font-weight: bold;
    font-size: 1.1rem;
}

.footer_ty p{
    font-size: 0.8rem;
    color: rgb(240, 255, 249);
    font-weight: 200;
}

footer .ola{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/assets/images/wave11.png);
    background-size: 1300px 100px;
}

.ola#ola1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 5.5s linear infinite;
}
.ola#ola2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 5.5s linear infinite;
}
.ola#ola3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 4.5s linear infinite;
}
.ola#ola4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 4.5s linear infinite;
}


@keyframes animateWave{
    0%{
        background-position-x: 1300px;
    }
    100%{
        background-position-x: 0px;
    }
}
@keyframes animateWave_02{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1300px;
    }
}
@keyframes animateWave_03{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1300px;
    }
}@keyframes animateWave_04{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1300px;
    }
}