.hero__img {
    width: 100%;
}

.modales {
    
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh) ;
    --transition: transform .8s;
}

.modales--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0) ;
    --transition: transform .8s .8s;
}
