.hero__img {
    width: 100%;
}

.modales {
    
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s .9s;
    --transform: translateY(-100vh) ;
    --transition: transform .8s;
}

.modales--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0) ;
    --transition: transform .8s .8s;
}


.modal__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow: auto;
   
    width: 90%;
    max-width: 2000px;
    height: 2000px;
  max-height: 90%;
    background-color: #fff;
    border-radius: 6px;
    padding: 3em 2.5em;
    /* display: grid; */
    /* gap: 1em; */
    place-items: center;
    grid-auto-columns: 100%;
    transform: var(--transform);
    transition: var(--transition);
}

.modal__title {
    font-size: 2.5rem;
}

.modal__paragraph {
    
    margin-bottom: 10px;
   
}


@media (max-width: 800px){
    .modal__container{
        padding: 2em 1.5em;
    }

    .modal__title {
        font-size: 2rem;
    }

    
}