@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
:root {
    --grisclaro: #ECECEC;
    --grisoscuro: #333333;
    --azulclaro: #3498DB;
    --azuloscuro: #2980B9;
    --amarillosuave: #FFD700;
    --verdeclaro: #00A896;
    --verdeoscuro: #00665E;
}

html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: var(--grisclaro) !important;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
  }
  
  .container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
  }
  .fostrap-logo {
    width: 100px;
    margin-bottom:15px;
  }
  .fostrap-logo-mundo{
      width: 100px;
    margin-bottom:15px;
  }
  .fostrap-logo-mundo-manos{
      width: 100px;
    margin-bottom:15px;
  }
  h1.heading {
    color: #fff;
    font-size: 1.15em;
    font-weight: 900;
    margin: 0 0 0.5em;
    color: #505050;
  }

  @media (min-width: 450px) {
    h1.heading {
      font-size: 3.55em;
    }
    .fostrap-logo-mundo{
      width: 400px !important;
    margin-bottom:15px;
  }
  .fostrap-logo-mundo-manos{
      width: 400px !important;
    
  }
  }
  @media (min-width: 760px) {
    h1.heading {
      font-size: 3.05em;
    }
    .fostrap-logo-mundo{
      width: 900px !important;
    margin-bottom:15px;
  }
  .fostrap-logo-mundo-manos{
      width: 80% !important;
    margin-bottom:15px;
  }
  }
  @media (min-width: 900px) {
    h1.heading {
      font-size: 3.25em;
      margin: 0 0 0.3em;
    }
    .fostrap-logo-mundo{
      width: 1300px !important;
    margin-bottom:15px;
  }
  .fostrap-logo-mundo-manos{
      width: 100% !important;
      height: 100vh !important;
    margin-bottom:15px;
  }

  

