@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
:root {
    --grisclaro: #ECECEC;
    --grisoscuro: #333333;
    --azulclaro: #3498DB;
    --azuloscuro: #2980B9;
    --amarillosuave: #FFD700;
    --verdeclaro: #00A896;
    --verdeoscuro: #00665E;
}

html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: var(--grisclaro) !important;
}

