@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
:root {
    --grisclaro: #ECECEC;
    --grisoscuro: #333333;
    --azulclaro: #3498DB;
    --azuloscuro: #2980B9;
    --amarillosuave: #FFD700;
    --verdeclaro: #00A896;
    --verdeoscuro: #00665E;
}

