:root {
  --grisclaro: #ECECEC;
  --grisoscuro: #333333;
  --azulclaro: #3498DB;
  --azuloscuro: #2980B9;
  --amarillosuave: #FFD700;
  --verdeclaro: #00A896;
  --verdeoscuro: #00665E;
}

body {
  background-color: var(--grisclaro);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  padding: 30px;
}

.recycle-info {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-family: "Lato", sans-serif; /* Aplicar la fuente Lato al título h1 */
}

.recycle-card {
  margin-bottom: 20px;
}

.recycle-card h2 {
  background-color: #f2f2f2;
  padding: 10px;
  font-family: "Nunito", sans-serif; /* Aplicar la fuente Nunito a los subtítulos h2 */
}

.plastic {
  background-color: #f2c46e;
}

.organic-non-recyclable {
  background-color: #b3d100;
}

.organic-compostable {
  background-color: #00af91;
}

.paper-cardboard {
  background-color: #f0ca4d;
}

.glass {
  background-color: #00a0df;
}

.metal {
  background-color: #af9f9d;
}

.hazardous {
  background-color: #ff524f;
}